.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); // Ajusta según la altura de tu toolbar
  background-color: #eaf8bf; // Un color de fondo suave
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  mat-card-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #27476e
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }

  .login-button {
    width: 100%;
    padding: 10px 0;
    font-size: 1.1em;
    color: #27476e;
  }
}

mat-toolbar {
  background-color: #27476e;
  color: #eaf8bf;
}